.card-header {
     background-color: #882CDF;
     font-size: medium;
     color: #fff;
}

.text-bold {
     font-weight: bold;
}

.box-border {
     border: solid 3px #882CDF;
}

.text-align-right {
     float: right;
}

.text-align-left {
     float: left;
}

.btn-primary {
     background-color: #882CDF;
}

