.card-header {
     background-color: #7D43E0;
     font-size: medium;
     color: #fff;
}

.navbar{
     background-color: #7D43E0;
}

.text-bold {
     font-weight: bold;
}

.box-border {
     border: solid 3px #7D43E0;
}

.text-align-right {
     float: right;
}

.margin-right {
     margin-right: 5px;
}

.text-align-left {
     float: left;
}

.btn-primary {
     background-color: #7D43E0;
}

.text-align-center {
     float:left;
     left:50%;
}

.showControl {
     display: block;
}

.hideControl {
     display: hide;
}

.buttonIcon {
     border: none;
     background-color: transparent;
}

.iconColor {
     color:#7D43E0;
}

.hideComment {
     display: none;
}

.showComment {
     display: block;
}

.hideButtons{
      display: none;
}

.showButtons{
      display: block;
}

.containerWidth {
     width: 50%;
}




